.body
{
    background-color: #161a1d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container
{
    max-width: 150vw;
    max-height: auto;
    width: 40vw;
    margin: 25px;
    height: auto;

    border-radius: 2px;
    opacity: 0.87;

    padding-left: 15px;
    background-color: #d3d3d3;
    font-family: 'system-ui';
    font-size: 25px;
}

.line_color
{
    color: #b8181b;
}